version: 2

updates:
  - package-ecosystem: "gradle"
    directory: /
    schedule:
      interval: weekly
      day: sunday
    open-pull-requests-limit: 5
    labels:
      - "Dependency Update"
    groups:
      # Request that all kotlin specific dependencies are grouped together
      kotlin:
        patterns:
          - "org.jetbrains.kotlin:kotlin-test-junit"
          - "org.jetbrains.kotlin:kotlin-reflect"
          - "org.jetbrains.kotlin:kotlin-stdlib"
          - "org.jetbrains.kotlin:kotlin-gradle-plugin"
          - "com.google.dagger.hilt.android"
          - "com.google.devtools.ksp"
    cooldown:
      default-days: 5
      semver-major-days: 14
      semver-minor-days: 7
      semver-patch-days: 3

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
    labels:
      - "Dependency Update"
    open-pull-requests-limit: 1
